<div class="page-container">
    <hgroup>
        <h3 class="page-title">
            Forms from JSON
        </h3>
    </hgroup>


    <component-portlet
            class-name="panel-primary"
            footer-text="Portlet"
            schema="app/modules/forms/schemaform/schema.json"
            form-definition="app/modules/forms/schemaform/formDefinition.json">

        <form ng-if="vm.formSettings" sf-schema="vm.formSettings.schema" sf-form="vm.formSettings.formDefinition" sf-model="vm.model"></form>


        <!--Angular dynamic form-->
        <!--<div id="angular-dynamic-form-example">-->
        <!--<form-template-data url="app/modules/forms/form.data.json"></form-template-data>-->

        <!--<dynamic-form template="vm.formTemplate"-->
        <!--ng-model="vm.formData"-->
        <!--ng-submit="vm.processForm()"-->
        <!--ng-if="vm.formTemplate">-->
        <!--</dynamic-form>-->
        <!--</div>-->

    </component-portlet>


</div>