<div class="page-container">
    <hgroup>
        <h3 class="page-title">
            Forms from JSON
        </h3>
    </hgroup>


    <component-portlet
            name="form1"
            header="Primary"
            class-name="panel-primary"
            footer-text="Portlet"
            schema="app/modules/forms/schemaform/form1/schema.json"
            form-definition="app/modules/forms/schemaform/form1/formDefinition.json">
        <form ng-if="vm.formSettings"
              sf-schema="vm.formSettings.form1.schema"
              sf-form="vm.formSettings.form1.formDefinition"
              sf-model="vm.model1"></form>
    </component-portlet>

    <component-portlet
            name="form2"
            header="Success"
            class-name="panel-success"
            footer-text="Portlet"
            schema="app/modules/forms/schemaform/form2/schema.json"
            form-definition="app/modules/forms/schemaform/form2/formDefinition.json">
        <form ng-if="vm.formSettings"
              sf-schema="vm.formSettings.form2.schema"
              sf-form="vm.formSettings.form2.formDefinition"
              sf-model="vm.model2"></form>
    </component-portlet>


</div>