<div class="modal-header">
    <h3 class="modal-title">Popup</h3>
</div>
<div class="modal-body">

    <form name="form" role="form">
        <div class="form-group">
            <label>
                <span>Id: </span>
                <input class="form-control" type="number" ng-model="popup.popupModel.id"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <span>First name: </span>
                <input class="form-control" type="text" ng-model="popup.popupModel.firstName"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <span>Last name: </span>
                <input class="form-control" type="text" ng-model="popup.popupModel.lastName"/>
            </label>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="popup.save()">Save</button>
    <button class="btn btn-warning" ng-click="popup.cancel()">Cancel</button>
</div>